---
layout: default
title: Posts by Tag
---
{% for tag in site.tags %}
<div class="tag" id="{{ tag[0] }}">
    <a name="{{ tag[0] }}"></a>
    <h1>Posts about {{ tag[0] }}</h1>
    <hr/>
    {% for p in tag[1] %}
    {% include excerpt.html %}
    {% endfor %}
</div>
{% endfor %}
<script>
    <!--

    var hideTags = function(){
        // Hide non-matching tags
        var fragment = (document.location.hash || '').replace(/^#/, '');
        if(fragment.length > 0) {
            var tags = document.getElementsByClassName('tag');
            for(var i = 0; i < tags.length; i++)
                tags[i].style.cssText = tags[i].getAttribute('id') == fragment ? 'display: block;' : 'display: none;';
        }
        // If JavaScript is working, we don't need to be scrolled to the anchor.
        var unscroll = function() {
            window.scroll(0, 0);
            window.removeEventListener('scroll', unscroll);
        };
        window.addEventListener('scroll', unscroll);
    };
    
    window.addEventListener('load', hideTags);
    window.addEventListener('hashchange', hideTags);

    //-->
</script>
